<%- include('./partials/_header') -%>
 
        <!-- Responsive navbar-->
        <%- include('./partials/_navigation') %>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        
                        <a href="<%= url.name %>"><h1 class="display-5 fw-bold"><%= url.name %></h1></a>
                        <br><br>
                        <p class="fs-4"><%= url.description %></p>
                        <br><br>
                        <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#EditURL">
                            Edit URL!
                        </button>
                        <a href="/url/<%= url._id %>?_method=DELETE" onclick="return confirm('ARE YOU SURE?')" class="btn btn-lg btn-danger text-white">
                            <span>Remove URL!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Edit Modal -->
<div class="modal fade" id="EditURL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Edit your URL</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form method="POST" action="/url/<%= url._id %>?_method=PUT" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            <input type="url" name="name" value="<%= url.name %>" class="form-control" placeholder="Your URL">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <textarea rows="8" name="description" class="form-control"
            placeholder="Take a note" required><%= url.description %></textarea>
        </div>
    </div>	
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save Changes about URL</button>
      </div>   
</form>
</div>     
</div>
</div>

</div>
  
  
        
        </header>
        <!-- Page Content-->
       

<%- include('./partials/_footer') %>